<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">
  <title>Guia 2</title>
</head>
<body>
  <header>
    <h2 class="titulo1">tituo 1</h2>
  </header>
  <p class="parrafo1">Parrafo 1: tamaño de fiente 16 pixeles, color #0093FF y fuente arial</p>
  <p class="parrafo2">Parrafo 2: tamaño de fuente 12 pixeles, color #c500FF y fuente Nerko One importado desde el CDN de google fonts</p>
  <br>
  <p>Vinculos:</p>
  <ul class="lista1">
    <li><a href="https://www.udenar.edu.co/ocara/admisiones/">vinculo numero 1</a></li>
    <li><a href="https://fonts.google.com/">vinculo numero 2</a></li>
    <li><a href="https://github.com/">vinculo numero 3</a></li>
  </ul>

  <table class="tabla1">
    <tr>
      <th>Productos</th>
      <th>Existencias</th>
      <th>Valor</th>
    </tr>
    <tr class="tabla1-fila">
      <td>Iphone</td>
      <td>10</td>
      <td>$2.000.000</td>
    </tr>
    <tr class="tabla1-filaC">
      <td>Mouse</td>
      <td>100</td>
      <td>$50.000</td>
    </tr>
    <tr class="tabla1-fila">
      <td>PC Gamer</td>
      <td>2</td>
      <td>$3.000.000</td>
    </tr>
  </table>

  <div class="pagina">
    <div class="header">
      <div class="logo">
        <h3>logo</h3>
      </div>
      <h3>header</h3>
      <div class="buscador">
        <input type="text" placeholder="buscador">
      </div>
    </div>
    
    <div class="contenedor">
      <p>contenedor</p>

      <div class="body">
        <div class="side-bar">
          <p>Side-bar</p>
        </div>
        <div class="content">
          <p>content</p>
        </div>
      </div>

      <div class="footer">
        <p>footer</p>
        <div class="contentFooter">
          <div class="footer1">
            <p>footer 1</p>
          </div>
          <div class="footer1">
            <p>footer 2</p>
          </div>
          <div class="footer1">
            <p>footer 3</p>
          </div>
        </div>
        
      </div>
    </div>   
  </div>


  

</body>
</html>


<router-outlet />
